html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
/*ol map controls parent element*/
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
}
/** UX header control */
.map-header {
  margin: 0.5em;
  width: fit-content;
}
/** aside: UX left & right side controls contaner */
.map-aside {
  display: flex;
  flex-grow: 1;
  pointer-events: none !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/** UX right side child of aside */
.toolbar {
  margin-left: auto;
}
/** UX footer control */
.map-footer {
  display: flex;
  margin: 0.5em;
  width: fit-content;
}
.map-footer div:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}
/*ol-control*/
.ol-control {
  position: unset;
  background-color: #343a40;
}
.ol-control:hover {
  background-color: #343a40; 
}
.ol-control.visible {
  display: none;
}

.ol-control button.active {
  background-color: rgb(72, 133, 4);
}

/*ol-rotate*/
.rotate-zoom {
  pointer-events: none !important;
}
.rotate-zoom div {
  display: inline-block;
}
.rotate-zoom .ol-rotate {
  vertical-align: top;
}
/*ol-scale-line*/
.ol-scale-line {
  margin-left: auto;
  position: unset;
  background-color: #f4f4f4af;
}
.ol-scale-line-inner {
  border: 1px solid #000;
  border-top: none;
  color: black;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}
