html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
/*ol map controls parent element*/
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1em) !important;
  height: calc(100% - 1em) !important;
  margin: 0.5em;
}
/** toggle button active/inactive*/
.toggle.active {
  background-color: rgb(54 148 2 / 50%);
}
.ol-control .toggle.active:focus,
.ol-control .toggle.active:hover {
  background-color: rgb(54 148 2 / 75%);
}
.ol-control button {
  outline: none;
}
/**container hidden*/
.hidden {
  display: none;
}

/** UX header control */
.map-header {
  width: fit-content;
  position: unset;
}
.map-header button {
  width: fit-content;
  padding: 2px;
}
/** aside: UX left & right side controls contaner */
.map-aside {
  display: flex;
  flex-grow: 1;
  pointer-events: none !important;
}
.taskbar {
  position: relative;
}
.taskpane {
  width: 20em;
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 2px;
  align-self: stretch;
}
.taskpane .header {
  background: rgba(0, 60, 136, 0.4);
  color: white;
  border-radius: 4px;
  margin: 1px;
  padding: 0;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
}
.taskpane .main {
  width: inherit;
  position: absolute;
  top: 2em;
  bottom: 2em;
  overflow-y: auto;
  border-radius: 4px;
}
.taskpane .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  border-radius: 4px;
  height: 1.375em;
  font-size: 1.14em;
  text-decoration: none;
  text-align: right;
}

.cfg-edit-container textarea {
  width: 100%;
  height: 10em;
  resize: none;
}
.cfg-edit-container button {
  width: unset;
  font-size: 0.8em;
  font-weight: unset;
  padding:2px;
  display: inline-block;
}

/** UX right side child of aside */
.toolbar {
  margin-left: auto;
  position: relative;
}

/** UX footer control */
.map-footer {
  display: flex;
}
.map-footer div:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}
/**ol native controls */
.ol-zoom {
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
}
.ol-rotate {
  top: 0;
  right: 2em;
  left: unset;
  bottom: unset;
}

.ol-scale-line {
  margin-left: auto;
  position: unset;
  background: rgba(0, 60, 136, 0.4);
}
