html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
/*ol map controls parent element*/
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
}
/** toggle button active/inactive*/
.toggle.active {
  background-color: rgb(54 148 2 / 50%);
}
.ol-control .toggle.active:focus,
.ol-control .toggle.active:hover {
  background-color: rgb(54 148 2 / 75%);
}
.ol-control button {
  outline: none;
}
/**container hidden*/
.hidden {
  display: none;
}

/** UX header control */
.map-header {
  margin: 0.5em;
  width: fit-content;
  position: unset;
}
/** aside: UX left & right side controls contaner */
.map-aside {
  display: flex;
  flex-grow: 1;
  pointer-events: none !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.taskbar {
  position: relative;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.taskpane {
  position: relative;
  background-color: rgba(207, 12, 12, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.taskpane .header {
  background: rgba(0, 60, 136, 0.4);
  color:white;
}
.taskpane .main {
  position: absolute;
  top: 2em;
  bottom: 2em;
  overflow-y: auto;
}
.taskpane .footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding-left:2px;
  background: rgba(0, 60, 136, 0.4);
  color:white;
}
/** UX right side child of aside */
.toolbar {
  margin-left: auto;
  position: relative;
}

/** UX footer control */
.map-footer {
  display: flex;
  margin: 0.5em;
}
.map-footer div:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}
/**ol native controls */
.ol-zoom {
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
}
.ol-rotate {
  top: 0;
  right: 2em;
  left: unset;
  bottom: unset;
}

.ol-scale-line {
  margin-left: auto;
  position: unset;
  background: rgba(0, 60, 136, 0.4);
}
