html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
/*ol map controls parent element*/
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
}
/*ol-control*/

.toggle.active {
  background-color: #008840b3;
}

/** UX header control */
.map-header {
  margin: 0.5em;
  width: fit-content;
  position: unset;
}
/** aside: UX left & right side controls contaner */
.map-aside {
  display: flex;
  flex-grow: 1;
  pointer-events: none !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/** UX right side child of aside */
.toolbar {
  margin-left: auto;
  position: relative;
}
/** UX footer control */
.map-footer {
  display: flex;
  margin: 0.5em;
}
.map-footer div:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}
.ol-zoom {
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
}
.ol-rotate {
  top: 0;
  right: 2em;
  left: unset;
  bottom: unset;
}

.ol-scale-line {
  margin-left: auto;
  position: unset;
  background: rgba(0, 60, 136, 0.4);
}
