html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
/*ol map controls parent element*/
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1em) !important;
  height: calc(100% - 1em) !important;
  margin: 0.5em;
}
/** toggle button active/inactive*/
.toggle.active {
  background-color: rgba(0, 136, 105, 0.6);
}
.ol-control .toggle.active:focus,
.ol-control .toggle.active:hover {
  background-color: rgb(54 148 2 / 75%);
}
.ol-control button {
  outline: none;
  font-weight: normal;
}
/**container hidden*/
.hidden {
  display: none!important;
}

/** UX header control */
.map-header {
  width: fit-content;
  position: unset;
  display: flex;
}
.map-header button {
  width: fit-content;
  padding: 2px;
}
/** aside: UX left & right side controls contaner */
.map-aside {
  display: flex;
  flex-grow: 1;
  pointer-events: none !important;
}
.taskbar {
  position: relative;
  height:fit-content;
}
.taskpane {
  width: 20em;
  position: relative;

  border-radius: 4px;
  padding: 2px;
  align-self: stretch;
}
.taskpane .header {
  text-align: center;
}
.taskpane .main {
  width: inherit;
  position: absolute;
  top: 2em;
  bottom: 2.5em;
  overflow-y: auto;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 60, 136, 0.5);
}
.taskpane.no-header .main {
  top: 2px;
  padding: 3px;
}
.taskpane.horizontal{
  height: 300px;
  width:100%;
  margin-top: auto;
}
.taskpane.horizontal .main{
  top: 2em;
  bottom: 0.5em;
}
.taskpane .graph{
  background-color:white
}
.taskpane .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  text-align: right;
  padding: 2px;
}
.taskpane .ol-control button {
  width: unset;
  display: inline-block;
  padding: 4px;
}

.taskpane .main .item canvas {
  vertical-align: middle;
  padding: 2px;
}

.taskpane .main {
  font-size: 0.85em;
}
.taskpane .main .thematic {
  padding-left: 18px;
}
.taskpane .main .tools {
  padding-left: 16px;
}
.taskpane .main .tools span {
  padding-right: 8px;
}
.taskpane .main .detail {
  padding-left: 16px;
}
.taskpane .main .detail input {
  vertical-align: middle;
}

/** UX right side child of aside */
.toolbar {
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.toolbar > div {
  position: static;
}
.ol-dragbox{
  border-color:#09f;
  background-color: rgba(0, 153, 255, 0.376)
}

/** UX footer control */
.map-footer {
  display: flex;
}
.map-footer div:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}
.map-footer .active-layer-info,
.map-footer .select-info {
  background: rgba(0, 60, 136, 0.4);
  border-radius: 4px;
  color: #eee;
  font-size: 12px;
  padding: 2px;
}
/**ol native controls */
.ol-zoom {
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
}
.ol-rotate {
  top: 0;
  right: 2em;
  left: unset;
  bottom: unset;
}

.ol-scale-line {
  margin-left: auto;
  position: unset;
  background: rgba(0, 60, 136, 0.4);
}
