html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
}
.ol-control,
.ol-scale-line,
.ol-rotate {
  position: unset;
  display: inline-block;
}
.ol-control button:hover,
.ol-control button:focus,
.ol-control button.active {
  background-color: rgb(0, 136, 77, 0.7);
}

.ol-rotate {
  vertical-align: top;
}
.ol-scale-line {
  margin-left: auto;
}
.header {
  margin: 0.5em;
}
.aside {
  flex-grow: 1;
  display: flex;
  pointer-events: none !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.def-editor {
  display: none;
  position: relative;
}
.def-editor-header {
  height: 30px;
}
.def-editor-content {
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow-y: none;
}
.def-editor-content textarea {
  height: 100%;
  width: 400px;
}

.legend {
  display: none;
  position: relative;
}
.legend-header {
  height: 30px;
}
.legend-content {
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow-y: auto;
}
/** right nav*/
.nav-right {
  margin-left: auto;
  height: fit-content;
}
.nav-right > div {
  float: right;
}
.section {
  display: none;
}

.footer {
  display: flex;
  margin: 0.5em;
}
.active {
  display: flex;
}
