html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

button {
  font-weight: 400;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
}

button.active {
  background-color: rgba(0, 136, 105, 0.6);
}

.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 3px solid #3399cc;
}

.ol-control button.active:hover,
.ol-control button.active:focus {
  text-decoration: none;
  background-color: rgba(0, 136, 105, 0.8);
}

.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
}

.ol-control,
.ol-scale-line,
.ol-rotate {
  position: static;
}

.ol-scale-line {
  display: inline-block;
}

header {
  display: inline-block;
  width: 100%;
  height: 2em;
}

aside {
  flex-grow: 1;
  display: flex;
  pointer-events: none !important;
}

nav.nav-right {
  height: fit-content;
  margin: 0.5em 0.5em 0.5em auto;
}

nav.nav-left,
nav.taskpane-left {
  height: fit-content;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

footer {
  width: fit-content;
  margin: 0.5em 0.3em 0.5em 0.3em;
}

footer div,
footer span {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.select-info {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;
  color: #eee;
  background: rgba(0, 60, 136, 0.3);
}

.legend {
  display: none;
}

.legend.active {
  display: block;
}
