    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
    }
    
    header {
        top: 0;
    }
    
    footer {
        bottom: 0;
    }
    
    aside {
        left: 0
    }
    
    nav {
        right: 0
    }