        html {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: Verdana, sans-serif;
            font-size: 15px;
            line-height: 1.5;
        }
        
        .ol-overlaycontainer-stopevent {
            display: flex;
            flex-direction: column;
        }
        
        .ol-control,
        .ol-scale-line,
        .ol-rotate {
            position: unset;
        }
        
        .ol-scale-line {
            display: inline-block;
            margin-right: 16px;
        }
        
        aside {
            flex-grow: 1;
            display: flex;
            pointer-events: none!important;
        }
        
        nav {
            margin-left: auto;
            height: fit-content;
        }
        
        footer {
            width: fit-content;
            margin-left: 16px;
        }
        
        .select-info {
            vertical-align: bottom;
            border-radius: 4px;
            font-size: 14px;
            padding: 2px;
            margin-right: 16px;
            color: #eee;
            background: rgba(0, 60, 136, 0.3);
        }